* {
  font-family: 'Open Sans' !important;
}

.navbar {
  background-color: #64d0fa;
}
.navbar-blue .navbar-nav .nav-link {
  color: white;
}
.navbar-blue .navbar-brand {
  color: white;
}

.content {
  padding-top: 50px !important;
}

