<div class="footer-partial" style="display: flex; padding: 0 25%;">
  <div style="align-self: center;">
    <img src="{{ "images/uottawa-logo.png" | relURL }}" style="width: 100%;" />
  </div>
  <div style="align-self: center;">
    <img src="{{ "images/toh-logo.jpg" | relURL }}" style="width: 100%;" />
  </div>
  <div>
    <img src="{{ "images/oph-logo.png" | relURL }}" style="width: 100%;" />
  </div>
</div>

<div style="display: flex; justify-content: center; margin-bottom: 20px;">
  <span style="align-self: center; margin-right: 10px; font-weight: bold;">MADE BY</span>
  <img src="{{ "images/pbl-logo.png" | relURL }}" />
</div>