<nav class="navbar fixed-top navbar-expand-lg navbar-blue navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ "images/logo.svg" | relURL }}"
        style="width:40px;">
        <span>Ottawa COVID-19</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a 
                        class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ partial "translate.html" (dict "lang" site.Language.Lang "key" .Name) }}
                    </a>
                    <div 
                        class="dropdown-menu navbar-dropdown" aria-labelledby="navbarDropdownMenuLink" id="viz-dropdown">
                    {{ range .Children }}
                        <a 
                            class="dropdown-item" 
                            href="{{ print site.LanguagePrefix .URL }}">
                            {{ partial "translate.html" (dict "lang" site.Language.Lang "key" .Name) }}
                        </a>
                    {{ end }}
                    </div>
                </li>
                {{ else }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ print site.LanguagePrefix .URL }}">{{ partial "translate.html" (dict "lang" site.Language.Lang "key" .Name) }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>