{{ $translations := "" }}
{{ $csvFile := "Data/translations/navbar.csv" }}
{{ with resources.Get $csvFile }}
  {{ $translations = . | transform.Unmarshal (dict "delimiter" ",") }}
{{ else }}
  {{ errorf "Unable to find translation file: %s" $csvFile }}
{{ end }}
{{ $langIndex := 1 }}
{{range $i, $r := index $translations 0 }}
    {{ if eq $r $.lang }}
        {{ $langIndex = $i }}
    {{ end }}
{{end}}

{{ $translatedValue := "Error"}}
{{ range $i, $r := $translations }}
  {{ if eq (trim (index $r 0) " ") ($.key) }}
    {{ $translatedValue = (index $r $langIndex) }}
  {{ end }}
{{ end }}

{{ return $translatedValue }}
