# This is a workflow to automate the deployment of 613covid.ca

name: Website-update

# Runs when there's push to master
on: 
  push:
    branches: master
  workflow_dispatch:

jobs:
  blogdown:
    name: Render-Blog
    runs-on: "macOS-latest"
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: '4.1.0'
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown
        run: Rscript -e 'install.packages(c("rmarkdown", "knitr"))'
      - name: Install rmd packages
        run: Rscript -e 'install.packages(c("plotly", "tidyverse", "jsonlite", "ggplot2", "dplyr", "tidyr", "lubridate", "stats", "remotes", "zoo", "stringr", "purrr", "Epinow2", "RColorBrewer", "DT"))'
      - name: Install blogdown
        run: Rscript -e 'remotes::install_github("rstudio/blogdown")'
      - name: install hugo
        run: Rscript -e 'blogdown::install_hugo()'
      - name: Render website
        run: Rscript -e 'blogdown::build_site(build_rmd = TRUE)'
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
